<li id='site<%= site.id %>'>
    <%= link_to site.name, edit_admin_site_path(site), :onclick => 'return GB_showCenter("Edit Site", this.href, 200, 400)' %>
    (<%= link_to_remote 'Delete', :url => admin_site_path(site), :method => 'delete', :confirm => 'Are you sure you want to delete this site?' %>)
</li>